<!DOCTYPE html>
<html>
  <head>
    
    <title>MAPA DE GEOLOCALIZACION</title>
    
    <meta charset="UTF-8"/>
    
   <!-- LINKS ESTERNOS -->
   	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js?ver=3.1.2"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDlzw2oyl1QeNM8fOEIsDB3X_73Z18PnOw&sensor;=true"></script>
	
	
	<link rel="stylesheet" th:href="@{/css/mapa.css}" type="text/css" media="screen"/>	
	
  </head>
  
  <body>
  
  <!-- Div contenedor del mapa -->
    <div id="mapa_content"></div>  
  	
  </body>
  
  	
</html>