<ul class="nav nav-pills" >
	<li class="dropdown">
	  <a href="#" data-toggle="dropdown" class="dropdown-toggle">INGRESOS<b class="caret" ></b></a>
		<ul class="dropdown-menu" id="menu1">
				<li>
   					<a href="javascript:buses();" onclick="ocultar()">BUSES<i class="icon-arrow-right" ></i></a>
   					<ul class="dropdown-menu sub-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="nav-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
   					</ul>
				</li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
		</ul>
	</li>
	<li class="dropdown">
	  <a href="#">REPORTES</a>
	</li>
	<li class="dropdown">
	  <a href="#">AYUDA</a>
	</li>
</ul>